h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  font-family: "Verdana";
  font-size: 7vw;
  margin: 0 auto;
  color: black;
  text-shadow: 0 10px 10px black;
}

#main-title {
  padding: 10% 10% 1% 10%;
}

#sub-title {
  margin: 0 auto;
  text-align: center;
}
