h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  font-family: "Verdana";
  font-size: 3vw;
  margin: 0 auto;
  color: white;
  text-shadow: 0 10px 10px grey;
}

body {
  background-color: black;
}

#main-title {
  padding: 10% 10% 5% 10%;
}

#sub-title, #email-us {
  text-align: center;
  color: white;
  font-family: "Verdana";
  padding: 0 0 30px 0;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  object-fit: cover;
  height: 550px;
}

#music-icons {
  text-align: center;
}

#fb-icon, #ig-icon, #yt-icon {
  color: white;
  padding: 0px 25px;
  transition-duration: 0.4s;
}

#fb-icon:hover, #ig-icon:hover, #yt-icon:hover {
  color: rgb(204, 80, 80);
}

#downward-arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.7s ease;
  color: white;
  padding: 1em;
}

#downward-arrow:hover {
  transform: translate(0px, 20px);
}

html {
  scroll-behavior: smooth;
}

/* IMAGE GALLERY */

.galleryContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 850px;
  border: solid black;
}

.galleryContainer .slideShowContainer {
  width: 850px;
  height: 650px;
  padding: 20px 20px;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.galleryContainer .slideShowContainer .imageHolder {
  object-fit: cover;
  }

.imgcarousel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 2%;
}

.imgNavButtons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.prev, .next {
  position: relative;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 20px;
  height: 100px;
  width: 100px;
  user-select: none;
  z-index: 99999999;
}

#dots {
  text-align: center;
}

.dot {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  display: inline-block;
  margin: 20px 2px 20px 2px;
  background-color: white;
  padding: 2px;
  transition: background-color 1s ease;
}

.active, .dot:hover {
  background-color: rgb(204, 80, 80);
}

.fa-chevron-circle-right:hover, .fa-chevron-circle-left:hover {
  color: rgb(204, 80, 80);
}

.fa-chevron-circle-right, .fa-chevron-circle-left {
  transition: color 1s ease;
}

#playPause {
  display: flex;
  justify-content: center;
  margin: 10px 10px;
  position: relative;
  z-index: 999999999;
}

#playIcon, #pauseIcon {
  margin: 5px 5px 0px 5px;
  transition: color 1s ease;
}

#playIcon:hover, #pauseIcon:hover {
  color: rgb(204, 80, 80);
}

.white {
  color: white;
}
