h1 {
  font-size: 3em;
  text-align: center;
  font-weight: bold;
  font-family: "Verdana";
  font-size: 7vw;
  margin: 0 auto;
  color: white;
  text-shadow: 0 10px 10px grey;
}

body {
  background-color: black;
}

#main-title {
  padding: 10% 10% 5% 10%;
}

#sub-title {
  text-align: center;
  color: white;
  font-family: "Verdana";
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
